div{
    color: white; 
}

#introduction{
    background-image: url(https://www.sciencesetavenir.fr/assets/img/2020/01/17/cover-r4x3w1000-5e21bf77a1547-chartreux-3298051-1920.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
h2{
    font-family:'Haettenschweiler';
}
h1{ color: darkred; font-family: Arial, 'Helvetica neue', sans-serif;
}
#continue{
    background-color: black;

}
#continue h3{background-color: dimgrey;
}
#continue p {background-color: dimgrey;
}

#image {background-color: black;}

#jeuvideofps {background-color: black;}
button{
    margin-top:20px;
}